# *.suo
# *.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
# *.userprefs

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# .vs/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.VisualState.xml
TestResult.xml

*.psess
*.vsp
*.vspx
*.sap

FakesAssemblies/
